header {
    background-color: aquamarine;
    font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);

}

header a:link {
    text-decoration: none;
}

header img {
    max-width: 64px;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
}

td {
    padding: 10px;
    border: 1px solid gray;
    vertical-align: top;
}

.error {
    color: red;
}

.success {
    color: green;
}

.price {
    text-align: right;
}

.quantity {
    text-align: right;
}

img.product-tile {
    max-width: 64px;
}

/* Page specific styles */
body.product-list {

}


@keyframes trans {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.popup {
    position: fixed;
    width: fit-content;
    height: fit-content;
    left: 500px;
    right: 0;
    top: 200px;
    bottom: 0;
    margin: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transition: all;
    animation-name: trans;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.popup table, .popup t {
    border: none;
}

.recently-viewed {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.recently-viewed .recent-product {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #797979;
    padding: 10px;
}

.recent-product-img {
    width: 100px;
}